extends layout

block header
    nav.navbar.navbar-inverse.navbar-fixed-top
        div.container-fluid
            div.navbar-header
                a.navbar-brand(href='/notes') Заметки
            div.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/logout', class='text-center new-account') Выйти

block content
    div.container
        div.row
            div.col-md-6.col-md-offset-4
                #user
                    h1.text-center.login-title Вы вошли как: #{user.fio}
                    div.signup-wall
                        ul.user-details
                            li ФИО: #{user.fio}
                            li Email: #{user.email}
                            li Телефон: #{user.phone}
                    a.btn.btn-lg.btn-default.btn-block(href='/notes') Заметки
